In [51]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [52]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,12.00,46,85,1.99,US,2021-02-13 14:10:05
1,1,Rikitea,-23.1203,-134.9692,79.14,77,0,14.74,PF,2021-02-13 14:11:04
2,2,Saint-Philippe,-21.3585,55.7679,84.20,65,0,27.63,RE,2021-02-13 14:11:04
3,3,Tessalit,20.1986,1.0114,92.48,9,0,5.82,ML,2021-02-13 14:11:05
4,4,Hilo,19.7297,-155.0900,66.20,82,40,3.49,US,2021-02-13 14:11:05

In [53]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [54]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [55]:
%matplotlib inline

In [56]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [57]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [61]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Rikitea,-23.1203,-134.9692,79.14,77,0,14.74,PF,2021-02-13 14:11:04
4,4,Hilo,19.7297,-155.0900,66.20,82,40,3.49,US,2021-02-13 14:11:05
7,7,Ixtapa,20.7000,-105.2000,66.00,88,90,3.44,MX,2021-02-13 14:11:05
9,9,Airai,-8.9266,125.4092,62.04,100,69,0.49,TL,2021-02-13 14:11:05
10,10,Vaini,-21.2000,-175.2000,78.80,89,20,5.75,TO,2021-02-13 14:11:05
11,11,Henties Bay,-22.1160,14.2845,70.52,83,76,7.11,NaN,2021-02-13 14:11:05
12,12,Tabas,33.5959,56.9244,75.20,12,0,2.30,IR,2021-02-13 14:11:05
13,13,Cape Town,-33.9258,18.4232,77.00,65,0,19.57,ZA,2021-02-13 14:08:09
17,17,Waingapu,-9.6567,120.2641,79.14,82,100,5.82,ID,2021-02-13 14:11:06
19,19,Hermanus,-34.4187,19.2345,78.01,71,0,11.01,ZA,2021-02-13 14:11:06

In [62]:
preferred_cities_df.count()

City_ID       210
City          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
Country       206
Date          210
dtype: int64

In [63]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Rikitea      PF     79.14 -23.1203 -134.9692
4          Hilo      US     66.20  19.7297 -155.0900
7        Ixtapa      MX     66.00  20.7000 -105.2000
9         Airai      TL     62.04  -8.9266  125.4092
10        Vaini      TO     78.80 -21.2000 -175.2000
11  Henties Bay     NaN     70.52 -22.1160   14.2845
12        Tabas      IR     75.20  33.5959   56.9244
13    Cape Town      ZA     77.00 -33.9258   18.4232
17     Waingapu      ID     79.14  -9.6567  120.2641
19     Hermanus      ZA     78.01 -34.4187   19.2345

In [64]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [65]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'next_page_token': 'ATtYBwLQiZIQEf7zpLU2Btvcw9JvPbB5Mbfb3X31GhfLDMZKNABvjt9NhlPtrym9mf_HMHzACTXueGp2m2unC7yd4URFS9WroC19mmGpA8N9XZbhwdlZVYx736jpdo8G6H8IWudE61BWpX5aoEphQ_gGvUpAnyQyEWYTpxgBNxuaUSWpfaFgn7Y1Cj9dzdWmslnku4geP-PTpAELoGPE2FSI_D7DHcdwvSR54t5b6Vyt0_5XpIedJjJa34pUqyDN36hqORSxRd5cUiBf0Zz-qmVfSxQygja3S9YL5XVtKDXYNEOxOz1HFWSIIaR9JEwA3OAvaVNdTH7FOyHR5AlJ4qupCi3BZWKAgMRSyCLQWKi3xeRt_zjOTJ7l84iHBX63Uhn7wEmamxeuC1OXUbNcxVAtJzGFafDCguqSqugiFaUD4kRTfiIXrCT9uGlb',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594393802915,
      'lng': 2.354352980291503},
     'southwest': {'lat': 48.8567414197085, 'lng': 2.351655019708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'ATtYBwK_WTKRSnT8M5_SU4nzeh_UnudwD19hQwjixBYUYfPNmlA4zPOnjkmuTu87IRK8eqcMTludoRi4xgaAN11k70K3OKT3_uNH9Ud80YpYGUwM19zHcGNjs2NoDiTeSBtRIsRPXYhO7FXrD05lQmMyjn9wvoHOa3d7CTLv7mDFI85GcWf2',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 279,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.8595495802915,
      'lng': 2.347780980291502},
     'southwest': {'lat': 48.8568516197085, 'lng': 2.345083019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Britannique',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 546,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Louvre</a>'],
     'photo_reference': 'ATtYBwIvxL2eozsp7yft5bhe35e003HV4D5qQW7GXNRRf87CfBtc29QLvzYacDh4ocDXrW72Hpv5DGUlE6wQAgjtcO1qkXdGjPgFkOqfct440s8v-8gjdeUreMXmiwox9NeOkU5X_EAimKGflHVV-sl9DRhw67y9Cl-93XhtqQoQawsd2yqi',
     'width': 1024}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.6,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 438,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'CLOSED_TEMPORARILY',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.86176813029151,
      'lng': 2.348040180291502},
     'southwest': {'lat': 48.85907016970851, 'lng': 2.345342219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Les Halles Paris (Apart Hotel Paris)',
   'permanently_closed': True,
   'photos': [{'height': 496,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart Hotel Paris)</a>'],
     'photo_reference': 'ATtYBwJeM0mgJfSVKSqwIiULnU3KKc59h1km4h91xuAaf_27eeWO29scBFT9UB1qcE3gHv-Za1_RxRZqYEEb_JOz9cxhxDOz9KGhyPpUjZMQrA-cx8NL0uyhFuV6G1-XUtM8AoXTJMFSxQV6TP8hHHZbtLHDKUbWTnmo4RZ95FkAmlb80GUY',
     'width': 745}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 817,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607769, 'lng': 2.3463217},
    'viewport': {'northeast': {'lat': 48.8620135802915,
      'lng': 2.347597080291502},
     'southwest': {'lat': 48.8593156197085, 'lng': 2.344899119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Novotel Paris Les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel</a>'],
     'photo_reference': 'ATtYBwLJqMnnRWA2f62W2Rq4OtnW6e68iJKpQNhpei1plK1LfITn1ZEGcTaoILO4bdSs0Zm8zmuE3rvor9E54ExJpzKTcyjmsiefkbNgeS619T_jrAxAFGVi15-691ER9hvF5Dp9B4VTu2ma49LVJUmjy7X3Pq6E9ZUNXhC1MgPVp3KY7GsU',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8G Paris, France',
    'global_code': '8FW4V86W+8G'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2090,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616503302915,
      'lng': 2.345521080291502},
     'southwest': {'lat': 48.8589523697085, 'lng': 2.342823119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1390,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Best Western Premier Ducs de Bourgogne</a>'],
     'photo_reference': 'ATtYBwI18Gava-nldarWfVKKaE-HUZbajhNrHGdeXpy3BT7nv2NmiObub7snEE2nYd-laWrsA504hKtrmEom1epP9jJYGAZl3mb0gmgeAPcZy0lDPbPeiz5D-2GBuP8oayus-5MRebcOKfsPp0V43-GebEDiR2ZOE0ppItWxUpVRY-OQOQDu',
     'width': 2048}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 275,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569076302915,
      'lng': 2.342319280291502},
     'southwest': {'lat': 48.8542096697085, 'lng': 2.339621319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Saint-Germain-des-Prés Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107856881779358840274">David O&#39;Meara</a>'],
     'photo_reference': 'ATtYBwJ_rQFivEGVHI9fmkRVWnlJ6PZO2Tt-GZedO-0NoG7UXxIJKj6yK4KBbvREtEnbG0N09kDhaEwOCbSwWAVOgebzD11XhgCFCTgjL-Hso0mi_3iW2emzZDnSs9PvbCLJJRyWStfg5N_nmZrOUIBE8hwsCtcDGCpDDCGzklTKNNY6NkhJ',
     'width': 4032}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 655,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.8677623302915,
      'lng': 2.361952180291502},
     'southwest': {'lat': 48.8650643697085, 'lng': 2.359254219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'ATtYBwKF16cpdFjqN6Z5O9T7vwcihibjjBGeLvIlz6DBeHC-zNDh6DwRsF47XefZwtmx38Dja1xv-fAU-pf91EHEvmOKGlcRvzoAgTpm1Pivq228RWexxRrbqocX1R5ztO4YttHGvxACvdqmPqfaUHbEqk9-iRjO7FKEQT9_s8Qslc4M0UOL',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 378,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3700,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109908333790946649027">Hôtel Regina Louvre</a>'],
     'photo_reference': 'ATtYBwKWGY0OwE9zy1hOGsCbwKXb-IDVMmsx2qU-F0ZM-UKGpVr8dynCVIkxa-SgDGp5_edy1G3I8HCkdrznTRs3m3HU4amo8Zts_IwnrVZCMw8qjybkXVnyTUmjCSIiCjg2MZFno6ZUZSmL0R9ynz0xuYNN3lyIR7IOGYCyFQtaCAkGcQi9',
     'width': 5550}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 504,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84795229999999, 'lng': 2.370869},
    'viewport': {'northeast': {'lat': 48.84922153029149,
      'lng': 2.372321980291502},
     'southwest': {'lat': 48.84652356970849, 'lng': 2.369624019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102166088584622554231">cherry pyj</a>'],
     'photo_reference': 'ATtYBwI95JOCx3PMgJ9ZhTJPkid8KmZ0MJqNHEMGWapL9fXYVhA0l46YFErsxtfE47breixpOw7DAE5sem8uT3hFxvPIJs856XxYkXv0F4UrN-vYxvt0M5bpnYvzzvm6lXpElY7T-KUS142fqo03lrYmZQFijZfbr_94tKQYruIAKfrTjsOc',
     'width': 4032}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+58 Paris, France',
    'global_code': '8FW4R9XC+58'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 753,
   'vicinity': '41/43 Avenue Ledru Rollin, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84754640000001, 'lng': 2.3718722},
    'viewport': {'northeast': {'lat': 48.8488750302915,
      'lng': 2.373125480291502},
     'southwest': {'lat': 48.8461770697085, 'lng': 2.370427519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 4000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112792427704207973717">salva ubeda</a>'],
     'photo_reference': 'ATtYBwKoZyKZWqJltlviDXC9uwRZAmUlL4njjOHUa8cA-187Xu29NZjz3vgAWBv-yh4k8nNi7wH6qvzK7w73gRbx3pcs8gZhdCd7BaRp_M3F-pcsl9Bhfbh3pgaXIX3IdksKPlPg1mKzJXHxzsdvJfgIDpAcrnLq0i9xx9itJMzyN7PgzJ1K',
     'width': 6000}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 380,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Prélude Opéra Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1152,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103624474621674096768">carlos MARTINEZ</a>'],
     'photo_reference': 'ATtYBwIJBHHJDhipQcGFhVLCkGxYcBuQrKjuyBushCreorWxUK3CRwOyD1mKMv8GnbPDSUu4BW636dVo1-VeIQI_D0_ISkNpnJYJ3hsca2Ij5vnq7xpL5bWJAvc68BcEyPrXJQ7MWT137KiwkYMdd6qg0f4ljEyR8kCrRFla9L1aM4jCIVcP',
     'width': 2048}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4.1,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 319,
   'vicinity': '8 Cité Bergère, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8423491, 'lng': 2.3632246},
    'viewport': {'northeast': {'lat': 48.84365308029151,
      'lng': 2.364707180291502},
     'southwest': {'lat': 48.84095511970851, 'lng': 2.362009219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114802271282641766772">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'ATtYBwKAvQPpnCL8JZQEU-OaItm6UjEZmhqWgkT3ae3hLVK5wZULDXVAEenjQdSB5oPnbVzWpKuylCGwQ0UqtJSqoqnKZCyOVvkuDqaydgfvkM7BuwkiSJsuA-rdYr5Y9Bb98gWDcFXi9zTuSnQQQkYKI6ILYrBabRywoWTaUvCD-JOUM4zR',
     'width': 6720}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 4,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 433,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.864294, 'lng': 2.3307997},
    'viewport': {'northeast': {'lat': 48.8655772302915,
      'lng': 2.332153880291502},
     'southwest': {'lat': 48.8628792697085, 'lng': 2.329455919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1365,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'ATtYBwKQ_7dqok3pV59q4OQKMgvz7NpzuKwvZ1T393cSCH1qIYiOVjpjBOVKRtVhSPeLTpzR9c_WhhsfQIGo2vrNH1VxhGANMCxE2TAUQmvqNSmUIDfimgK4OBUgqRcruAiz-RY-Fxos4flYL1GQjd4b8dSAiao8wKtwjOHuWDqHjBveg49F',
     'width': 2048}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1073,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.8724296802915,
      'lng': 2.340311380291503},
     'southwest': {'lat': 48.8697317197085, 'lng': 2.337613419708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],
     'photo_reference': 'ATtYBwK8UtMJple0EirbbdrvWNvZWw4trKYF5zyJbA3QFr5lOorGIr515WcCfezoCOlRbiipOzsy4hGemvTY18gvZsu2k9v6JCmzOAGpXKUF_BnI-J8pkyJrPPDkv7mJV3w6LxToSCYD2DdUw-GxMKLKkBrOJWRKGbJET23PNNa1gxorc0A0',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CH Paris, France',
    'global_code': '8FW4V8CQ+CH'},
   'rating': 3.7,
   'reference': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 134,
   'vicinity': "4 Rue d'Amboise, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8654924, 'lng': 2.3271121},
    'viewport': {'northeast': {'lat': 48.86678673029151,
      'lng': 2.328593580291502},
     'southwest': {'lat': 48.86408876970851, 'lng': 2.325895619708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Westin Paris - Vendôme',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 810,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105819208076758962074">The Westin Paris - Vendôme</a>'],
     'photo_reference': 'ATtYBwJQNPBw8_kURmFyyX1JybeYD-KAgoCUNmBm0Uab2kp_qW7InoDy6Vwx9isYRw6GkSsq-ZFw4y21TqahV5lTk4JO-SEDaeyGuwy9xWskBGPH6iGo9ACk7MMViyUIuRJRDIY2fXxc0b5M5A8Gyk2880NTC7Cu0JGdPEKAt_BjSas3fm-8',
     'width': 1440}],
   'place_id': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'plus_code': {'compound_code': 'V88G+5R Paris, France',
    'global_code': '8FW4V88G+5R'},
   'rating': 4.3,
   'reference': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2042,
   'vicinity': '3 Rue de Castiglione, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86038899999999, 'lng': 2.323112},
    'viewport': {'northeast': {'lat': 48.8617804302915,
      'lng': 2.324489280291502},
     'southwest': {'lat': 48.8590824697085, 'lng': 2.321791319708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': "Hôtel d'Orsay",
   'opening_hours': {'open_now': True},
   'photos': [{'height': 768,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115556676131195822021">Hôtel 4 étoile d&#39;Orsay Paris 7ème</a>'],
     'photo_reference': 'ATtYBwKI8i24WENVGz9uD1tIfo6ap6NZFvD4m5PBZztcGf2DrzrkfjppSsk3xyJtKxiU0hQwvger099RM_SOp-9fLbHFWnfplat4-jM7IbqZUre_VjrzeP4kgFoRA0-GKI3GjuMlVI8dXHnFAp9nV7JytzaBTcXA6bCcJpFEEaXy_wQP7Lkk',
     'width': 1152}],
   'place_id': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'plus_code': {'compound_code': 'V86F+56 Paris, France',
    'global_code': '8FW4V86F+56'},
   'rating': 4.6,
   'reference': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 207,
   'vicinity': '93 Rue de Lille, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8661363, 'lng': 2.3260648},
    'viewport': {'northeast': {'lat': 48.8674534302915,
      'lng': 2.327513280291502},

In [66]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

   # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Rikitea      PF     79.14 -23.1203 -134.9692
4          Hilo      US     66.20  19.7297 -155.0900
7        Ixtapa      MX     66.00  20.7000 -105.2000
9         Airai      TL     62.04  -8.9266  125.4092
10        Vaini      TO     78.80 -21.2000 -175.2000
11  Henties Bay     NaN     70.52 -22.1160   14.2845
12        Tabas      IR     75.20  33.5959   56.9244
13    Cape Town      ZA     77.00 -33.9258   18.4232
17     Waingapu      ID     79.14  -9.6567  120.2641
19     Hermanus      ZA     78.01 -34.4187   19.2345

In [68]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [76]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [77]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,79.14,-23.1203,-134.9692,Pension Maro'i
4,Hilo,US,66.20,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Ixtapa,MX,66.00,20.7000,-105.2000,Hotel Plaza Providencia
9,Airai,TL,62.04,-8.9266,125.4092,Juvinal Martin
10,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort
11,Henties Bay,NaN,70.52,-22.1160,14.2845,Fishermans Guest House
12,Tabas,IR,75.20,33.5959,56.9244,شرکت معماری مهراز شایگان آراد
13,Cape Town,ZA,77.00,-33.9258,18.4232,Southern Sun Waterfront Cape Town
17,Waingapu,ID,79.14,-9.6567,120.2641,Pondok Wisata Elim
19,Hermanus,ZA,78.01,-34.4187,19.2345,Misty Waves Boutique Hotel

In [78]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [82]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))